---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";
import {
  FaAddressCard,
  FaEnvelope,
  FaLinkedin,
  FaPhoneAlt,
} from "react-icons/fa";

const entry = await getEntry("pages", "contact");
const { email, linkedIn } = config.contactinfo;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <h1 set:html={markdownify(title)} class="h2 page-heading" />
      <div class="row md:gx-5 gy-5">
        <div class="sm:col-5 md:col-4">
          <ul class="flex flex-col space-y-8">
            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <FaEnvelope className="mr-3 text-primary" />
                <p class="font-semibold">Email</p>
              </div>
              <p
                set:html={markdownify(email)}
                class="mt-2 leading-5 pl-8 content"
              />
            </li>

            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <FaLinkedin className="mr-3 text-primary" />
                <p class="font-semibold">LinkedIn</p>
              </div>
              <p set:html={markdownify(linkedIn)} class="mt-2 leading-5 pl-8" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</Base>
