---
import { Image } from "astro:assets";
import config from "@/config/config.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { BiCategoryAlt } from "react-icons/bi";
const { summary_length } = config.settings;
const { className, posts, fluid } = Astro.props;
---

<div
  class={`grid grid-cols-2 gap-6 ${className} ${posts.length == 1 ? "justify-center" : ""} `}
>
  {
    posts.map((post: any, i: number) => (
      <div class={`md:bg-stone-100 md:p-5 rounded-sm min-h-44`}>
        {post.data.image && (
          <a
            href={`/${post.slug}`}
            class="rounded-lg block hover:text-primary overflow-hidden group"
          >
            <Image
              class="group-hover:scale-[1.03] transition duration-300 w-full"
              src={post.data.image}
              alt={post.data.title}
              width={i === 0 ? 925 : 445}
              height={i === 0 ? 475 : 230}
            />
          </a>
        )}
        <ul class="mb-2 flex flex-wrap items-center text-text opacity-75 text-xs hover:opacity-100 ">
          <li class="mr-5 flex items-center flex-wrap font-medium">
            <>{dateFormat(post.data.date)}</>
          </li>
          <li class="mr-5 flex items-center flex-wrap">
            <BiCategoryAlt className="mr-1 h-[18px] w-[18px] text-gray-600" />
            <>
              <ul>
                {post.data.categories.map((category: string, i: number) => (
                  <li class="inline-block">
                    <a
                      href={`/categories/${slugify(category)}`}
                      class="mr-2 hover:text-primary font-medium"
                    >
                      {humanize(category)}
                      {i !== post.data.categories.length - 1 && ","}
                    </a>
                  </li>
                ))}
              </ul>
            </>
          </li>
        </ul>
        <h5 class="mb-2">
          <a
            href={`/${post.slug}`}
            class="block hover:text-primary transition duration-300"
          >
            {post.data.title}
          </a>
        </h5>
        <p class="text-text italic">
          {post.data.description === ""
            ? plainify(
                post.body?.slice(
                  0,
                  Number(
                    i === 0 && fluid != false
                      ? summary_length * 2
                      : summary_length,
                  ),
                ),
              ) + "..."
            : post.data.description}
        </p>
      </div>
    ))
  }
</div>
